@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Manrope", system-ui, sans-serif;
	}
}

:root {
	scrollbar-width: thin;
	scrollbar-color: #a3a996 rgba(255, 255, 255, 0);
}

* {
	min-width: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	background-color: #f1eee4;
}

a {
	color: inherit;
	text-decoration: none;
}

@layer components {
	.stack {
		@apply grid [grid-template-areas:'stack'] justify-items-center items-center [&>*]:[grid-area:stack];
	}
	.rounded-input {
		@apply px-4 h-12 focus:border-gray-400 outline-none border-[1px] border-gray-200 rounded-lg;
	}
	.no-arrow {
		@apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
	}
}
